body {
    background-color: #f48fb1;
}

/*button {
    background-color: #ff4081;
    color: #880e4f;
    font-size: 40px;
    border: none;
    padding: 15px 32px;
    border-radius: 20px;
}

h1 {
    color: #d81b60;
}

.theQuestion {
    text-align: center;
    margin-top: 7cm;
    font-size: xx-large;
}*/

.mouseMe {
    text-align: center;
    margin-top: 6cm;
    
    font-size: xx-large;
}
